im using a free API for trains data as the other API's were not for free to use!

In [1]:
import pandas as pd
import requests

In [2]:
import requests

url = "https://trains.p.rapidapi.com/"

payload = { "search": "Rajdhani" }
headers = {
    "content-type": "application/json",
    "X-RapidAPI-Key": "403f3d3022msh279bdf75bd78e8ep16f34djsn0c98a413e1fa",
    "X-RapidAPI-Host": "trains.p.rapidapi.com"
}

response = requests.post(url, json=payload, headers=headers)

print(response.json())

[{'train_num': 12235, 'name': 'Dibrugarh - New Delhi Rajdhani Express', 'train_from': 'DBRG', 'train_to': 'NDLS', 'data': {'id': '7974', 'days': {'Fri': '0', 'Mon': '0', 'Sat': '0', 'Sun': '0', 'Thu': 1, 'Tue': '0', 'Wed': '0'}, 'to_id': '664', 'classes': ['3A', '2A', '1A'], 'from_id': '7288', 'arriveTime': '13:55 +2 nights', 'departTime': '19:25'}}, {'train_num': 12236, 'name': 'New Delhi - Dibrugarh Rajdhani Express', 'train_from': 'NDLS', 'train_to': 'DBRG', 'data': {'id': '7973', 'days': {'Fri': '0', 'Mon': '0', 'Sat': '0', 'Sun': '0', 'Thu': '0', 'Tue': 1, 'Wed': '0'}, 'to_id': '7288', 'classes': ['3A', '2A', '1A'], 'from_id': '664', 'arriveTime': '05:15 +2 nights', 'departTime': '09:25'}}, {'train_num': 12301, 'name': 'Howrah - New Delhi Rajdhani Express (via Gaya)', 'train_from': 'HWH', 'train_to': 'NDLS', 'data': {'id': '1316', 'days': {'Fri': 1, 'Mon': 1, 'Sat': 1, 'Sun': '0', 'Thu': 1, 'Tue': 1, 'Wed': 1}, 'to_id': '664', 'classes': ['3A', '2A', '1A'], 'from_id': '1', 'arriveTime': '10:00 +1 night', 'departTime': '16:55'}}, {'train_num': 12302, 'name': 'New Delhi - Howrah Rajdhani Express (Via Gaya)', 'train_from': 'NDLS', 'train_to': 'HWH', 'data': {'id': '1317', 'days': {'Fri': '0', 'Mon': 1, 'Sat': 1, 'Sun': 1, 'Thu': 1, 'Tue': 1, 'Wed': 1}, 'to_id': '1', 'classes': ['3A', '2A', '1A'], 'from_id': '664', 'arriveTime': '09:50 +1 night', 'departTime': '16:55'}}, {'train_num': 12305, 'name': 'Howrah - New Delhi Rajdhani  Express (via Patna)', 'train_from': 'HWH', 'train_to': 'NDLS', 'data': {'id': '1318', 'days': {'Fri': '0', 'Mon': '0', 'Sat': '0', 'Sun': 1, 'Thu': '0', 'Tue': '0', 'Wed': '0'}, 'to_id': '664', 'classes': ['3A', '2A', '1A'], 'from_id': '1', 'arriveTime': '10:00 +1 night', 'departTime': '14:05'}}, {'train_num': 12306, 'name': 'New Delhi - Howrah Rajdhani Express (via Patna)', 'train_from': 'NDLS', 'train_to': 'HWH', 'data': {'id': '1319', 'days': {'Fri': 1, 'Mon': '0', 'Sat': '0', 'Sun': '0', 'Thu': '0', 'Tue': '0', 'Wed': '0'}, 'to_id': '1', 'classes': ['3A', '2A', '1A'], 'from_id': '664', 'arriveTime': '12:15 +1 night', 'departTime': '16:55'}}]

In [3]:
data = response.json()

df = pd.json_normalize(data)
print(df)

   train_num                                              name train_from  \
0      12235            Dibrugarh - New Delhi Rajdhani Express       DBRG
1      12236            New Delhi - Dibrugarh Rajdhani Express       NDLS
2      12301    Howrah - New Delhi Rajdhani Express (via Gaya)        HWH
3      12302    New Delhi - Howrah Rajdhani Express (Via Gaya)       NDLS
4      12305  Howrah - New Delhi Rajdhani  Express (via Patna)        HWH
5      12306   New Delhi - Howrah Rajdhani Express (via Patna)       NDLS

  train_to data.id data.days.Fri data.days.Mon data.days.Sat data.days.Sun  \
0     NDLS    7974             0             0             0             0
1     DBRG    7973             0             0             0             0
2     NDLS    1316             1             1             1             0
3      HWH    1317             0             1             1             1
4     NDLS    1318             0             0             0             1
5      HWH    1319             1             0             0             0

  data.days.Thu data.days.Tue data.days.Wed data.to_id  data.classes  \
0             1             0             0        664  [3A, 2A, 1A]
1             0             1             0       7288  [3A, 2A, 1A]
2             1             1             1        664  [3A, 2A, 1A]
3             1             1             1          1  [3A, 2A, 1A]
4             0             0             0        664  [3A, 2A, 1A]
5             0             0             0          1  [3A, 2A, 1A]

  data.from_id  data.arriveTime data.departTime
0         7288  13:55 +2 nights           19:25
1          664  05:15 +2 nights           09:25
2            1   10:00 +1 night           16:55
3          664   09:50 +1 night           16:55
4            1   10:00 +1 night           14:05
5          664   12:15 +1 night           16:55

In [4]:
df

,train_num,name,train_from,train_to,data.id,data.days.Fri,data.days.Mon,data.days.Sat,data.days.Sun,data.days.Thu,data.days.Tue,data.days.Wed,data.to_id,data.classes,data.from_id,data.arriveTime,data.departTime
0,12235,Dibrugarh - New Delhi Rajdhani Express,DBRG,NDLS,7974,0,0,0,0,1,0,0,664,"[3A, 2A, 1A]",7288,13:55 +2 nights,19:25
1,12236,New Delhi - Dibrugarh Rajdhani Express,NDLS,DBRG,7973,0,0,0,0,0,1,0,7288,"[3A, 2A, 1A]",664,05:15 +2 nights,09:25
2,12301,Howrah - New Delhi Rajdhani Express (via Gaya),HWH,NDLS,1316,1,1,1,0,1,1,1,664,"[3A, 2A, 1A]",1,10:00 +1 night,16:55
3,12302,New Delhi - Howrah Rajdhani Express (Via Gaya),NDLS,HWH,1317,0,1,1,1,1,1,1,1,"[3A, 2A, 1A]",664,09:50 +1 night,16:55
4,12305,Howrah - New Delhi Rajdhani Express (via Patna),HWH,NDLS,1318,0,0,0,1,0,0,0,664,"[3A, 2A, 1A]",1,10:00 +1 night,14:05
5,12306,New Delhi - Howrah Rajdhani Express (via Patna),NDLS,HWH,1319,1,0,0,0,0,0,0,1,"[3A, 2A, 1A]",664,12:15 +1 night,16:55

In [8]:
import pandas as pd

# Assuming df is your DataFrame containing train data
df = pd.DataFrame({
    'train_num': [12235, 12236, 12301, 12302, 12305, 12306],
    'name': ['Dibrugarh - New Delhi Rajdhani Express', 'New Delhi - Dibrugarh Rajdhani Express', 'Howrah - New Delhi Rajdhani Express (via Gaya)', 'New Delhi - Howrah Rajdhani Express (Via Gaya)', 'Howrah - New Delhi Rajdhani Express (via Patna)', 'New Delhi - Howrah Rajdhani Express (via Patna)'],
    'train_from': ['DBRG', 'NDLS', 'HWH', 'NDLS', 'HWH', 'NDLS'],
    'train_to': ['NDLS', 'DBRG', 'NDLS', 'HWH', 'NDLS', 'HWH'],
    'data.id': [7974, 7973, 1316, 1317, 1318, 1319],
    'data.days.Fri': [0, 0, 1, 0, 0, 1],
    'data.days.Mon': [0, 0, 1, 1, 0, 0],
    'data.days.Sat': [0, 0, 1, 1, 0, 0],
    'data.days.Sun': [0, 0, 0, 1, 1, 0],
    'data.days.Thu': [1, 0, 1, 1, 0, 0],
    'data.days.Tue': [0, 1, 1, 1, 0, 0],
    'data.days.Wed': [0, 0, 1, 1, 0, 0],
    'data.to_id': [664, 7288, 664, 1, 664, 1],
    'data.classes': [['3A', '2A', '1A'], ['3A', '2A', '1A'], ['3A', '2A', '1A'], ['3A', '2A', '1A'], ['3A', '2A', '1A'], ['3A', '2A', '1A']],
    'data.from_id': [7288, 664, 1, 664, 1, 664],
    'data.arriveTime': ['13:55 +2 nights', '05:15 +2 nights', '10:00 +1 night', '09:50 +1 night', '10:00 +1 night', '12:15 +1 night'],
    'data.departTime': ['19:25', '09:25', '16:55', '16:55', '14:05', '16:55']
})

def select_departure_station(df):
    print("Available departure stations:")
    departure_stations = df['train_from'].unique()
    for idx, station in enumerate(departure_stations, start=1):
        print(f"{idx}. {station}")
    
    choice = input("Enter the number corresponding to your departure station: ")
    try:
        choice = int(choice)
        if 1 <= choice <= len(departure_stations):
            return departure_stations[choice - 1]
        else:
            print("Invalid choice. Please enter a number between 1 and", len(departure_stations))
            return select_departure_station(df)
    except ValueError:
        print("Invalid input. Please enter a number.")
        return select_departure_station(df)

def select_time_option():
    print("Available time options:")
    print("1. Departure time")
    print("2. Arrival time")
    choice = input("Enter the number corresponding to your choice: ")
    if choice in ['1', '2']:
        return int(choice)
    else:
        print("Invalid choice. Please enter 1 or 2.")
        return select_time_option()

def select_departure_time(df, station):
    print("Available departure times:")
    depart_times = df[df['train_from'] == station]['data.departTime'].unique()
    for idx, time in enumerate(depart_times, start=1):
        print(f"{idx}. {time}")
    
    choice = input("Enter the number corresponding to your departure time: ")
    try:
        choice = int(choice)
        if 1 <= choice <= len(depart_times):
            return depart_times[choice - 1]
        else:
            print("Invalid choice. Please enter a number between 1 and", len(depart_times))
            return select_departure_time(df, station)
    except ValueError:
        print("Invalid input. Please enter a number.")
        return select_departure_time(df, station)

selected_station = select_departure_station(df)
print("You selected:", selected_station)

selected_time_option = select_time_option()
if selected_time_option == 1:
    print("You selected Departure time")
    selected_departure_time = select_departure_time(df, selected_station)
    print("Your Departure time is:", selected_departure_time)
elif selected_time_option == 2:
    print("Your Arrival time is")

Available departure stations:
1. DBRG
2. NDLS
3. HWH
Enter the number corresponding to your departure station: 2
You selected: NDLS
Available time options:
1. Departure time
2. Arrival time
Enter the number corresponding to your choice: 1
You selected Departure time
Available departure times:
1. 09:25
2. 16:55
Enter the number corresponding to your departure time: 2
Your Departure time is: 16:55